<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
        <bindingRedirect oldVersion="2.3.5.0" newVersion="4.3.0.0" />
        <bindingRedirect oldVersion="4.0.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DB" connectionString="Server=127.0.0.1;Port=5439;Database=obis20130703;User Id=postgres;Password=;" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="gebco" value="D:\a\data\gebco\gebco_gridone.asc" />
    <add key="etopo" value="D:\a\data\etopo\etopo1_ice_c.asc" />
    <add key="marspec" value="D:\a\data\marspec\MARSPEC_30s\ascii\bathy_30s.asc" />
    <add key="gshhs" value="D:\a\data\coastline\GSHHS_i_L1.shp" />
  </appSettings>
</configuration>